@keyframes menu {
  from {
    opasity: 0;
    transform: scale(0.6) translatey(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translatey(7px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: rgb(25, 25, 27);
  font-size: 1.25rem;
  background: radial-gradient(at left center, rgb(172, 172, 174), rgb(128, 128, 126));
  min-height: 100%;
  font-family: "Oswald", sans-serif;
  position: relative;
}

.heading1 {
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  text-decoration: underline;
  margin-bottom: 0.2em;
}

.text1 {
  font-size: 1.6rem;
  opacity: 0.8;
}

.hide {
  display: none;
}

.nav {
  position: relative;
  width: 100%;
  height: 55px;
  color: rgb(249, 245, 234);
  background-color: rgb(25, 25, 27);
  padding: 0 2em;
  z-index: 500;
}
.nav__container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  font-family: "Englebert", cursive;
  font-weight: 800;
  font-size: 2rem;
}
.nav__logo {
  height: 100%;
  padding: 0.2em;
}
.nav__logo__img {
  height: 100%;
}
.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.96);
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}
.nav__menu--active {
  transform: translateY(0);
}
.nav__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__item, .nav__sub-item {
  display: flex;
  padding: 0.6em 1em 0.2em;
  transition: background-color 0.3s;
  color: rgb(249, 245, 234);
  text-decoration: none;
}
.nav__item:hover, .nav__sub-item:hover {
  background-color: rgb(23, 143, 160);
}
.nav__sub-items {
  font-size: 1.5rem;
  margin-left: 2em;
}
.nav__profile {
  height: 100%;
}
.nav__profile-img {
  padding: 0.15em 1em;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.burger {
  margin-left: auto;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.burger__box {
  width: 35px;
  height: 25px;
  position: relative;
}
.burger__bars {
  transform: translateY(-50%);
}
.burger__bars, .burger__bars::before, .burger__bars::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  width: 100%;
  background: rgb(249, 245, 234);
  transition: transform 0.4s ease-in-out;
  border-radius: 2px;
}
.burger__bars::before {
  top: -9px;
}
.burger__bars::after {
  top: 9px;
}

.burger--active .burger__bars {
  background-color: transparent;
}

.burger--active .burger__bars::before {
  transform: translateY(9px) rotate(45deg);
}

.burger--active .burger__bars::after {
  transform: translateY(-9px) rotate(-45deg);
}

.dropdown {
  position: absolute;
  background: rgba(90, 110, 80, 0.8);
  top: 0;
  right: 0;
  width: 280px;
  border-radius: 5px;
  transform: translateY(-280px);
  transition: transform 0.3s, opacity 4s;
  z-index: 100;
}
.dropdown--active {
  transform: translateY(0);
}
.dropdown__heading {
  text-align: center;
  padding: 0.5em;
  background-color: rgba(25, 135, 84, 0.5);
}
.dropdown__body {
  padding: 0.4em 2em;
  color: rgb(249, 245, 234);
}
.dropdown__body a {
  display: block;
  text-align: center;
  padding: 0.1em;
  color: rgb(249, 245, 234);
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  transition: background-color 0.5s;
}
.dropdown__body a:hover {
  background-color: rgba(25, 135, 84, 0.5);
}

.flash-message {
  display: flex;
  justify-content: center;
}
.flash-message__text {
  margin: 1em;
  padding: 0.5em 2em;
  border-radius: 1em;
  font-size: 1.3rem;
}
.flash-message__text--success {
  background-color: rgba(25, 135, 84, 0.5);
}
.flash-message__text--faliure {
  background-color: rgba(169, 32, 57, 0.3);
}

.container {
  position: relative;
  max-width: 1400px;
  height: 100%;
  margin: auto;
}
.container .login-box {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2em 0;
  display: flex;
}
.container .login-box__left {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: -300px;
}
.container .login-box__right {
  z-index: 5;
}
.container .login-box__img {
  margin-top: 5em;
  width: 90%;
  opacity: 0.3;
}
.container .login-box__form {
  margin-top: 4em;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.container .login-box__label {
  position: relative;
  width: 295px;
}
.container .login-box__alert {
  position: absolute;
  width: 100%;
  background-color: rgba(169, 32, 57, 0.3);
  top: 3.8em;
  padding: 0.2em 1em;
  border-radius: 16px;
  left: 0;
}
.container .login-box__input {
  font-size: 1.6rem;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 3em;
  outline: none;
  background-color: rgb(249, 245, 234);
}
.container .login-box__input:focus {
  outline: solid 1.2px rgb(23, 143, 160);
}
.container .login-box__btn {
  min-width: 180px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  font-weight: 800;
  padding: 0.8em 3em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 20px;
  background-color: rgb(25, 25, 27);
  color: rgb(249, 245, 234);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .login-box__btn:last-child {
  opacity: 0.5;
}
.container .login-box__btn:focus {
  outline: solid 1.2px rgb(23, 143, 160);
}
.container .login-box__btn:hover {
  background-color: rgb(23, 143, 160);
}
.container .title {
  padding: 2em 2em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(249, 245, 234);
  display: flex;
  align-items: center;
}
.footer__container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 2em;
}

@media (min-width: 576px) {
  .container .login-box__left {
    margin-right: -100px;
  }
}
@media (min-width: 768px) {
  .container .login-box__left {
    margin-right: 1.5em;
    width: 400px;
  }
  .container .login-box__img {
    width: 100%;
    opacity: 1;
  }
  .container .login-box__btn:last-child {
    margin-bottom: 2em;
  }
}
@media (min-width: 992px) {
  .nav__menu {
    all: revert;
    text-transform: uppercase;
    margin-left: auto;
  }
  .nav__items {
    all: revert;
    display: flex;
    text-align: center;
  }
  .nav__item {
    min-width: 120px;
  }
  .nav__item-container {
    position: relative;
  }
  .nav__sub-items {
    position: absolute;
    left: 0;
    min-width: 120px;
    margin-left: 2px;
  }
  .nav__sub-item {
    display: block;
    padding: 0.8em;
    background-color: rgba(20, 20, 20, 0.5);
    display: none;
    opacity: 0;
  }
  .nav__item-container:hover .nav__sub-item {
    display: flex;
    animation: menu 0.5s forwards;
  }
  .nav__item-container:hover .nav__sub-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav__item-container:hover .nav__sub-item:nth-child(3) {
    animation-delay: 0.4s;
  }
  .nav__item-container:hover .nav__sub-item:nth-child(4) {
    animation-delay: 0.6s;
  }
  .nav__item-container:hover .nav__sub-item:nth-child(5) {
    animation-delay: 0.8s;
  }
  .burger {
    display: none;
  }
  .container .login-box__left {
    margin-right: 5em;
    width: 450px;
  }
  .container .login-box__btn:last-child {
    margin-bottom: 5em;
  }
}
@media (min-width: 1400px) {
  .container .title {
    padding: 2em 0;
  }
}/*# sourceMappingURL=main.css.map */