// colors
$active-color: rgba(23, 143, 160, 1);
$light-color: rgba(249, 245, 234, 1);
$dark-color: rgba(25,25,27, 1);
$alert-color: rgba(169, 32, 57, 0.3);
$gold-color-transparent: rgba(90, 110, 80, 0.8);
$success-color: rgba(25, 135, 84, 0.5);
$secondary-color: rgb(61, 61, 69);

// gradients
$bg-gradient: radial-gradient(at left center, rgba(172, 172, 174, 1.0), rgba(128, 128, 126, 1.0));