// colors
$active-color: rgba(23, 143, 160, 1);
$light-color: rgba(249, 245, 234, 1);
$dark-color: rgba(25,25,27, 1);
$alert-collor: rgba(169, 32, 57, 0.3);

// gradients
$bg-gradient: radial-gradient(at left center, rgba(172, 172, 174, 1.0), rgba(128, 128, 126, 1.0));